.buttonCircle {
    //styleName: p2;
    font-family: 'Manrope-Bold';
    font-size: 0.972vw;
    font-weight: 700;
    line-height: 1.389vw;
    letter-spacing: -0.01em;
    text-align: left;

    // background-color: #ffffff;
    padding: 0.833vw;
    border-radius: 100%;
    border: 2px solid black;

    &:hover {
        background: linear-gradient(277.37deg, #7ea2bc 17.22%, #4072a3 85.03%);
    }
}
