@import '../../../styles/variables';

.masthead {
    .mastheadContainer {
        z-index: 99;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        video {
            position: absolute;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .title {
            text-align: center;
            flex: 1 1 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 1;

            p {
                width: 26.111vw; //376px;
            }
        }

        .scrollDown {
            z-index: 1;
            padding-bottom: 42px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .masthead {
        .mastheadContainer {
            video {
            }

            .title {
                p {
                    width: 75.467vw; //283px;
                }
            }

            .scrollDown {
            }
        }
    }
}
