.serviceItem {
    width: 26.389vw;
    height: 20.833vw;
    background-color: #ffffff;
    padding: 2.917vw 10.903vw 2.083vw 2.222vw; //42px 157px 30px 32px


    @media (max-width: 1024px) {
        width: 91.467vw;
        height: 55.2vw;
    }

    .serviceItemContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.944vw; //28px

        h3 {
            width: 18.264vw;

            @media (max-width: 1024px) {
                width: 77.333vw
            }
        }

        p {
            padding-bottom: 13px;
            width: 15.347vw;

            @media (max-width: 1024px) {
                width: 15.486vw; //223px
            }
        }
    }
}
