@import '../../../styles/variables';

.moreThan10Years{
    .container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .bgImage {
            width: 93.333vw;
            height: 48.611vw;
            background-image: url('../../../public/main/10-more-than-ten-years/bg.webp');
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            padding: 3.958vw 3.958vw; //57px 57px

            .text {
                h2 {
                    width: 43.75vw;
                    color: $color-white;
                }
                p {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
