.fiveSteps {
    background: linear-gradient(#4072a3, #7ea2bc);
    .fiveStepsContainer {
        padding: 0 3.333vw;

        h1 {
            color: white;
        }

        hr {
            width: 17.153vw;
            height: 1px;
            margin-left: -1vw;
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span {
                font-family: 'Manrope-Light';
                font-size: 5.556vw; //80px
                font-weight: 300;
                line-height: 7.569vw; //109px
                letter-spacing: -0.02em;
                text-align: left;
                color: rgba(255, 255, 255, 0.2);
            }

            span:nth-child(2) {
                transform: translateX(-2vw);
            }
            span:nth-child(3) {
                transform: translateX(-6vw);
            }
            span:nth-child(4) {
                transform: translateX(-10vw);
            }
            span:nth-child(5) {
                transform: translateX(-14vw);
            }
        }
        div:nth-child(4) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.694vw; //10px

            p {
                color: white;
            }

            p:nth-child(1) {
                width: 14vw;
                transform: translateX(2vw);
            }

            p:nth-child(2) {
                width: 17.014vw;
                transform: translateX(3vw);
            }
            p:nth-child(3) {
                width: 15.528vw;
                transform: translateX(1vw);
            }
            p:nth-child(4) {
                width: 17.361vw;
                transform: translateX(1vw);
            }
            p:nth-child(5) {
                width: 17.083vw;
                transform: translateX(-1vw);
            }
        }
    }
}
