.exclusive-item {
    display: inline-block;

    .exclusive-item__container {
        background-color: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px);

        display: flex;
        flex-direction: column;
        width: 17.778vw;
        height: 12.986vw;
        margin: auto;
        justify-content: space-between;
        // padding: 1.389vw 8.556vw 1.389vw 1.389vw;
        padding-left: 1.389vw;
        padding-top: 1.389vw;
        padding-bottom: 1.389vw;
        padding-right: 1.042vw;


        .text {
            width: 15.347vw;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.486vw;
            color: #ffffff;

            span:nth-child(1) {
                //styleName: p3;
                font-family: 'Manrope-Light';
                font-size: 0.972vw;
                font-weight: 300;
                line-height: 1.667vw;
                letter-spacing: 0.01em;
                text-align: left;
            }

            span:nth-child(2) {
                font-family: 'Manrope-Bold';
                font-size: 1.25vw;
                font-weight: 700;
                line-height: 1.667vw;
                letter-spacing: 0em;
                text-align: left;
                max-width: 11.667vw;
            }
        }
    }
}
@media (max-width: 500px) {
    .exclusive-item {
        display: inline-block;
    
        .exclusive-item__container {
            background-color: rgba(255, 255, 255, 0.1); 
            backdrop-filter: blur(10px);
    
            display: flex;
            flex-direction: column;
            width: 56vw;
            height: 49.867vw;
            margin: auto;
            justify-content: space-between;
            padding: 5.333vw;
            
    
    
            .text {
                width: 40.533vw;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1.867vw;
                color: #ffffff;
    
                span:nth-child(1) {
                    //styleName: p3;
                    font-family: 'Manrope-Light';
                    font-size: 3.733vw;
                    font-weight: 300;
                    line-height: 6.4vw;
                    letter-spacing: 0.01em;
                    text-align: left;
                }
    
                span:nth-child(2) {
                    font-family: 'Manrope-Bold';
                    font-size: 4.8vw;
                    font-weight: 700;
                    line-height: 6.4vw;
                    letter-spacing: 0em;
                    text-align: left;
                    max-width: 40.533vw;
                }
            }
        }
    }
}
