.video-kiera {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 93.333vw; //1344px
        height: 48.611vw; //700px
    }
}
@media (max-width: 500px) {
    .video-kiera {
        display: flex; 
        justify-content: center;
        align-items: center;
        &__container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100vw; //1344px
            max-width: 186.667vw;
            height: 53.333vw; //700px
        }
    }
}
