.footer {
    .footerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3.681vw 0.694vw 1.944vw 3.333vw; //53px 10px 28px 48px;
        position: relative;

        .leaf {
            position: absolute;
            right: 0;
            top: 0;
        }
        .left {
            .beforeHr {
                display: flex;
                flex-direction: column;
                gap: 3.889vw; //56px

                .contactContainer {
                    display: flex;
                    flex-direction: row;
                    gap: 6.944vw; //100px

                    div:nth-child(1) {
                        .phones {
                            display: flex;
                            flex-direction: row;
                            gap: 2.778vw; //40px
                            padding-top: 1.111vw; //16px
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0.694; //10px
                    }
                }
                .socials {
                    display: flex;
                    flex-direction: column;
                    gap: 1.389vw; //20px

                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1.389vw; //20px
                    }
                }
            }
            .afterHr {
                hr {
                    width: 60vw;
                    height: 1px;
                    color: #f0f0f2;
                    margin: 3.333vw 0; //48px 0
                }
                .allRightsReserved {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .creativeTeam {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.278vw; //4px
                    }
                }
            }
        }
    }
}
