.Builder {
    width: 100%;
    background-color: #fff;
    // height: 100%;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        padding: 7.431vw 3.333vw; //107px 48px 402px 48px

        .text {
            display: flex;
            flex-direction: column;
            gap: 2.08vw;
            align-items: center;

            h1 {
                font-family: 'TTTsarsA-Light', sans-serif;
                font-size: 5vw;
                font-weight: 300;
                line-height: 5.833vw;
                letter-spacing: -0.03em;
                text-align: center;
            }
            p{
                max-width: 890px;
                font-family: 'Manrope-Light', sans-serif;
                font-size: 1vw;
                font-style: normal;
                font-weight: 300;
                line-height: 1.666vw; /* 171.429% */
                letter-spacing: 0.01px;
                text-align: center;
                margin-bottom: 2.08vw;
            }
        }
    }
}
.District {
    width: 100%;
    background-color: #fff;
    // height: 100%;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        padding: 7.431vw 3.333vw 27vw ; //107px 48px 402px 48px

        .mr-170{
            margin-right: 170px;
        }
        .District-content {
            display: flex;
            flex-direction: row;
            gap: 5.08vw;
            align-items: center;

            h1 {
                font-family: 'TTTsarsA-Light', sans-serif;
                font-size: 5vw;
                max-width: 309px;

                font-weight: 300;
                line-height: 5.833vw;
                letter-spacing: -0.03em;
                text-align: left;
            }
            .District-text {
                margin-top: 17px;
                display: flex;
                flex-direction: row;
                gap: 46px;
                p{
                    max-width: 438px;
                    font-family: 'Manrope-Light', sans-serif;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 1.666vw; /* 171.429% */
                    letter-spacing: 0.01px;
                    text-align: left;
                    margin-bottom: 2.08vw;
                }
            }

        }
    }
}
