.buildWay {
    &__container {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
        align-items: flex-start;
		padding: 7.431vw 3.333vw; //107px 48px 402px 48px



        h1 {
            font-family: 'TTTsarsA-Light', sans-serif;
            font-size: 5vw;
            font-weight: 300;
            line-height: 5.833vw;
            letter-spacing: -0.03em;
            text-align: left;
        }
        hr{
            stroke-width: 1px;
            stroke: #D4D4D4;
        }
        .buildWay_text {
            display: flex;
            flex-direction: row;
            gap: 1.389vw;

            ul {
                //styleName: p1;
                display: flex;
                flex-direction: column;
                gap: 1.389vw;
                font-family: 'Manrope-Medium';
                font-size: 1.25vw;
                font-weight: 500;
                line-height: 2.083vw;
                letter-spacing: 0em;
                text-align: left;
            }

            .Phase {
                width: 30.34722vw;

                h1 {
                    font-family: 'Manrope-Medium', sans-serif;
                    font-size: 1.25vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.08vw
                }

                .phase-content {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;

                    p {
                        font-family: 'Manrope-Light', sans-serif;
                        color: #848C98;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 1.6vw;
                        letter-spacing: 0.01vw;
                    }

                    .bold {
                        font-family: 'Manrope-Bold', sans-serif;
                        color: #22364A;
                        font-weight: 700;
                        letter-spacing: 0.01vw;
                        line-height: 1.4vw;
                    }
                }
            }
        }

        .buildWay_innerContainer {
            width: 780px;
            p {
                font-family: 'Manrope-Bold', sans-serif;
                color: #22364A;
                font-weight: 700;
                letter-spacing: 0.01vw;
                line-height: 1.4vw;
                margin-top: 10px;
            }
        }
    }
}
@media (min-width: $media0) {
    .BeforeBuildWaySlider {
		position: relative;

		.sliderNext {
			position: absolute;
			bottom: -30px;
			right: 40%;
			z-index: 1;
		}

		.sliderPrev {
			position: absolute;
			bottom: -30px;
			left: 40%;
			z-index: 1;
		}

		.slick-track {
			//min-height: 700px;
		}

		.slick-slider {
			position: relative;
			display: block;
			width: 100%;
		}

		.slick-arrow {
			position: absolute;
			z-index: 3;
		}

		.slick-arrow {
			position: absolute;
			bottom: 20px;
			right: 16px;
			width: 40px;
			height: 40px;
			padding: 0;
			text-indent: -9999px;
			background: transparent;
			border: none;
		}

		.slick-arrow:after {
			content: "";
			position: absolute;
			bottom: 20px;
			z-index: 2;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
}
@media (min-width: $media768) {
	// PhotosSlider
	.BeforeBuildWaySlider {

		.slick-track {
			min-height: auto;
		}

		.sliderNext {
			right: -20px;
			bottom: 46%;
			border-radius: 50%;
			padding: 12px;
            border: 2px solid #22364A;
			backdrop-filter: blur(2px);
			transition: .2s all;

			&:hover {
				background: rgba(255, 255, 255, 0.30);
			}

			img {
				width: 14px;
				height: 10px;
                filter: invert(100%);
			}
		}

		.sliderPrev {
			left: -20px;
			bottom: 46%;
			border-radius: 50%;
			padding: 12px;
			border: 2px solid #22364A;
			backdrop-filter: blur(2px);
			transition: .2s all;

			&:hover {
				background: rgba(255, 255, 255, 0.30);
			}

			img {
				width: 14px;
				height: 10px;
                filter: invert(100%);
			}
		}
	}
}
@media (min-width: $media1440) {
    .BeforeBuildWaySlider {

		.sliderNext {
			right: 40px;
			cursor: pointer;
		}
        .sliderPrev {
			left: 40px;
			cursor: pointer;
		}
	}
}