.exclusive-collection {
    &__container {
        background: linear-gradient(
            48deg,
            rgba(64, 114, 163, 1) 0%,
            rgba(126, 162, 188, 1) 100%
        );
        padding: 7.431vw 3.333vw 27.917vw 3.333vw; //107px 48px 402px 48px
        display: flex;
        flex-direction: column;
        gap: 1.806vw; //26px
        position: relative;

        .palms {
            position: absolute;
            top: -23vw;
            right: 0;
        }

        .text {
            color: #fff;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            h2 {
                //styleName: H2;
                width: 51.181vw;
                font-family: 'TTTsarsA-Light';
                font-size: 3.333vw;
                font-weight: 300;
                line-height: 4.306vw;
                letter-spacing: -0.03em;
                text-align: left;
            }

            .paragraphs {
                margin-top: 110px;
                display: flex;
                flex-direction: column;
                gap: 0.694vw;
                width: 36.458vw;
                //styleName: p3;
                font-family: 'Manrope-Light';
                font-size: 0.972vw;
                font-weight: 300;
                line-height: 1.667vw;
                letter-spacing: 0.01em;
                text-align: left;
                // transform: translateY(8vw);
            }
        }
        .items {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }
        .line {
            z-index: 100;
            width: 10000px;
            height: 100px;
        }
    }
}
