.request-call {
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px); 
          padding: 4.167vw 3.472vw;
          color: #ffffff;

          p:nth-child(1) {
              font-family: 'Manrope-Bold';
              font-size: 1.389vw;
              font-weight: 700;
              line-height: 1.944vw;
              letter-spacing: 0em;
              text-align: left;
          }

          .form__group {
              position: relative;
              padding: 5px 0 0;
              width: 100%;
              max-width: 180px;
          }

          .form__field {
              font-family: inherit;
              width: 23.403vw;
              border: none;
              border-bottom: 2px solid #9b9b9b;
              outline: 0;
              font-size: 17px;
              color: #fff;
              padding: 20px 0;
              background: transparent;
              transition: border-color 0.2s;
          }

          .form__field::placeholder {
              color: transparent;
          }

          .form__field:placeholder-shown ~ .form__label {
              font-size: 17px;
              cursor: text;
              top: 20px;
          }

          .form__label {
              padding-left: 10px;
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 17px;
              color: #9b9b9b;
              pointer-events: none;

              //styleName: p3;
              font-family: 'Manrope-Light';
              font-size: 14px;
              font-weight: 300;
              line-height: 24px;
              letter-spacing: 0.01em;
              text-align: left;
          }

          .form__field:focus {
              padding-bottom: 6px;
              font-weight: 700;
              border-width: 1px;
              border-image-slice: 1;
          }

          .form__field:focus ~ .form__label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 17px;
              font-weight: 700;
          }

          .form__field:required,
          .form__field:invalid {
              box-shadow: none;
          }

          p:nth-child(4) {
              //styleName: p4;
              font-family: 'Manrope-Light';
              font-size: 12px;
              font-weight: 300;
              line-height: 20px;
              letter-spacing: 0.01em;
              text-align: left;
              color: #ffffff99;
              width: 21.319vw;
              padding-top: 1.111vw;
          }
          button {
              //styleName: p2;
              font-family: 'Manrope-Bold';
              font-size: 0.972vw;
              font-weight: 700;
              line-height: 1.389vw;
              letter-spacing: -0.01em;
              text-align: left;

              background-color: #ffffff;
              padding: 13px 20px;
              border-radius: 30px;
          }
      }