.video-kiera {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 93.333; //1344px
        height: 48.611vw; //700px
    }
}
