@import '../../../styles/variables';

.dropDown {
    .dropDownContainer {
        .wrapperDropdown {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.556vw; // 8px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .arrow {
            float: right;
            transition: all 0.3s;
        }

        .dropDown {
            transition: all 0.3s;

            position: absolute;
            top: 120%;
            right: 0;
            left: 0;

            margin: 0;
            padding: 0;

            list-style: none;

            z-index: 99;

            border-radius: 15px;
            box-shadow: inherit;
            background: inherit;

            -webkit-transform-origin: top;
            -moz-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            opacity: 0;
            visibility: hidden;

            width: 120px;
            // width: 100%;
            // max-width: 483px;
            // min-height: 44px;
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.2);

            margin-left: 0;
        }

        .dropDown li {
         
            padding: 20px 20px 20px 20px;
            &:nth-child(even) {
                padding: 0px 20px 20px 20px;
            }
            // line-height: 24px;
            overflow: hidden;

            &:hover {
                color: rgba(212, 212, 212, 1);
            }
        }

        .wrapperDropdown.active .dropDown {
            opacity: 1;
            visibility: visible;

            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }

        .wrapperDropdown.active .arrow {
            transform: rotate(180deg);
        }
    }
}
