@import "variables";

.linkButton {
	border: none;
	background: transparent;

	img {
		width: 40px;
		height: 40px;
	}
}

// CustomSelect
.customSelect {
	caret-color: transparent;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	outline: none !important;
	border: none !important;

	&:hover {

		& > div > div > div {
			color: $colorDarkWhite;
		}
	}

	& > div {
		background: transparent;
		cursor: pointer;
		outline: none !important;
		border: none !important;
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		appearance: none !important;

		& > div > span {
			display: none;
		}

		& > div > div {
			color: $colorWhite;
			padding: 0;
			font-family: $fontManrope700;
			font-size: 14px;
			margin: 0;
			white-space: nowrap;
			letter-spacing: -0.42px;

			&:hover {
				//color: $colorDarkWhite;
			}

			svg {
				width: 15px;
				height: 15px;
			}
		}
	}

	.css-1nmdiq5-menu {
		background: rgba(255, 255, 255, 0.20);
		box-shadow: 0 51px 64px 0 rgba(0, 0, 0, 0.10);
		backdrop-filter: blur(15px);
		border-radius: 15px;
		width: 80px;
		top: 30px;

		.css-1n6sfyn-MenuList {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			div {
				background: transparent;
				color: $colorWhite;
				cursor: pointer;
				margin-top: 12px !important;
				margin-bottom: 12px !important;

				&:hover {
					color: $colorDarkWhite;
				}
			}
		}
	}

	.css-1fdsijx-ValueContainer {
		padding: 2px 2px;
	}

	.css-t3ipsp-control {
		outline: none !important;
		border: none !important;
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		appearance: none !important;
		box-shadow: none;
	}
}

//.dropBgClass .css-1nmdiq5-menu {
//	background: rgba(34, 54, 74, .4) !important;
//	backdrop-filter: blur(15px);
//	box-shadow: 5px 5px 10px 0 rgb(68, 68, 68, .15);
//	top: 42px;
//	border-radius: 0 0 15px 15px;
//}

@media (min-width: $media0) {
	// TitleTextArrowCard
	.titleTextArrowCard {
		background: $colorWhite;
		width: 100%;
		margin-top: 8px;
		padding: 20px;
		cursor: pointer;
		position: relative;

		&:hover h3 {
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-color: transparent;
			background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
		}

		h3 {
			max-width: 250px;
			transition: 2s all;
		}

		a {
			text-decoration: none;
		}

		p {
			max-width: 250px;
		}

		div {
			display: grid;
			grid-template-columns: 244px 40px;
			justify-content: space-between;
			padding-top: 16px;

			button {
				width: 40px;
				height: 40px;
				position: absolute;
				bottom: 42px;
				left: inherit;
				right: 32px;
			}
		}
	}

	// VideoBlock
	.videoBlock {
		padding-top: 40px;
	}

	.videoInner {
		height: 700px;
	}

	.slideVideo {
		width: 100%;
		height: 700px;
		object-fit: cover;
	}

	// VideoSpinner
	.spinnerVideo {
		position: absolute;
		bottom: 28px;
		left: 16px;
	}

	.spinnerItem {
		position: relative;
		width: 24px;
		height: 24px;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			border-width: 2px;
			border-style: solid;
			border-radius: 50%;
		}
	}

	.spinnerItem.spinner-5 {

		@keyframes border-animate {
			0% {
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
			}

			25% {
				border-top-color: 2px solid $colorWhite;
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
			}

			50% {
				border-top-color: 2px solid $colorWhite;
				border-right-color: 2px solid $colorWhite;
				border-bottom-color: transparent;
				border-left-color: transparent;
			}

			75% {
				border-top-color: 2px solid $colorWhite;
				border-right-color: 2px solid $colorWhite;
				border-bottom-color: 2px solid $colorWhite;
				border-left-color: transparent;
			}

			100% {
				border-top-color: 2px solid $colorWhite;
				border-right-color: 2px solid $colorWhite;
				border-bottom-color: 2px solid $colorWhite;
				border-left-color: 2px solid $colorWhite;
			}
		}

		&:before {
			width: 0;
			height: 0;
			border-color: $colorWhite;
			top: 0;
			left: 0;
			border-width: 2px;
			padding: 10px;
			border-style: solid;
			animation: border-animate 5s linear infinite;
		}

		&:after {
			width: 12px;
			height: 12px;
			top: 6px;
			left: 6px;
			background-color: $colorWhite;
			border: 2px solid transparent;
			border-radius: 50%;
			z-index: 44;
		}
	}

	// GoodsCard
	.goodsCard {
		position: relative;
		margin-bottom: 8px;

		.cardPhoto {
			width: 100%;
		}

		.cardLabel {
			position: absolute;
			top: 0;
			left: 0;
			padding: 12px 20px;
			background: rgba(0, 0, 0, .3);
			z-index: 2;
		}

		.cardLogo {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			margin: auto;
		}

		.bottomBg {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 3;
			background: linear-gradient(0deg, #252525, transparent);
			height: 150px;
			width: 100%;
		}

		.description-wrapper {
			position: absolute;
			left: 16px;
			bottom: 24px;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: -webkit-fill-available;

			p {
				display: flex;
				justify-content: end;
				margin-bottom: 0;
				margin-right: 16px;

				img {
					width: 18px;
					height: 10px;
					margin-top: 4px;
				}
			}
		}
	}

	// FeedBackForm
	.feedBackForm {
		width: 100%;
		height: inherit;

		.feedBackInputWrapper {
			margin-bottom: 0;

			.feedBackInput {
				background: transparent;
				border: none;
				border-bottom: 1px solid $colorDarkWhite;
				width: 100%;
				resize: none;
				padding: 20px 12px;
				border-radius: 0;
				overflow: hidden;

				&::placeholder {
					color: $colorText;
					font-size: 14px;
					font-family: $fontManrope400;
					line-height: 20px;
				}
			}
		}
	}

	// OurMessengers
	.ourMessengers-wrapper {
		margin: 28px 0 40px;
		position: relative;
		z-index: 1;
	}

	.ourMessengers {
		padding: 28px;
		background: linear-gradient(225deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.04) 100%);
		backdrop-filter: blur(15px);
		box-shadow: 0 51px 64px 0 rgba(0, 0, 0, 0.10);

		div {
			background: linear-gradient(225deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.04) 100%);
			width: 100%;
			padding: 8px 20px;
			margin-bottom: 8px;
			box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
			transition: .2s all;

			&:hover {
				background: $colorAccent;

				p {
					color: $colorWhite;
				}
			}

			a {
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				img {
					width: 24px;
					height: 24px;
				}

				p {
					margin: 0;
				}
			}
		}
	}

	// OfferCard
	.offerCard {
		width: 100%;
		background: rgba(255, 255, 255, 0.10);
		backdrop-filter: blur(10px);
		padding: 16px 16px 28px;

		a {
			text-decoration: none;
		}

		&-img {
			min-width: 100%;
			object-fit: cover;
		}

		.description-wrapper {
			padding-top: 20px;
		}

		.description-down {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 120px;
		}

		&-btn {
			margin-top: 20px;
		}

		.invisibleRight {
			display: none;
		}
	}

	// ReviewCard
	.reviewCard {
		width: 100%;
		background: rgba(255, 255, 255, 0.10);
		backdrop-filter: blur(10px);
		padding: 16px 16px 28px;
		margin-top: 20px;
		height: fit-content;

		&-top {
			display: flex;

			img {
				width: 58px;
				height: 58px;
				border-radius: 50%;
			}
		}

		.divider {
			border-bottom: 1px solid $colorWhite;
			opacity: .7;
			margin: 20px 0 28px;
			width: 100%;
		}
	}

	// MediaCard
	.mediaCard-wrapper {

		.mediaCard {
			width: 100%;
			margin-top: 8px;
			cursor: pointer;

			img {
				object-fit: contain;
				width: 100%;
				height: 300px;
				transition: .2s;
			}

			&:hover {

				img {
					scale: 1.05;
				}
			}
		}
	}

	// DefaultMediaCard
	.defaultMediaCard-link {
		text-decoration: none;

		&:hover {
			p {
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-color: #2AA5A0;
				background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
			}
		}

		.defaultMediaCard {
			width: 100%;
			height: 190px;
			margin-top: 8px;
			padding: 16px;
			background: $colorWhite;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.icon {
				opacity: .3;
			}

			div {
				p {
					margin: 0;
				}

				img {
					margin-bottom: 2px;
				}
			}
		}
	}
}

@media (min-width: $media475) {
	// OfferCard
	.offerCard {

		&-img {
			max-width: 380px !important;
		}
	}
}

@media (min-width: $media576) {
	// GoodsCard
	.goodsCard {
		margin-bottom: 0;
	}

	// MediaCard
	.mediaCards {
		display: grid;
		gap: 8px;
	}

	.mediaCard-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8px;

		.mediaCard {
			margin-top: 0;
			height: 190px;
			overflow: hidden;

			img {
				height: 190px;
			}

			//&:hover {
			//
			//	img {
			//		scale: 1.1;
			//	}
			//}
		}
	}

	// DefaultMediaCard
	.defaultMediaCard-link {

		.defaultMediaCard {
			margin-top: 0;
		}
	}
}

@media (min-width: $media768) {
	// OfferCard
	.offerCard {
		padding: 16px;

		&-img {
			min-width: auto;
			max-width: 300px !important;
		}

		&-wrapper {
			display: flex;
		}

		.description-wrapper {
			padding-left: 20px;

			article {
				width: 90%;
			}
		}
	}
}

@media (min-width: $media1023) {
	// GoodsCard
	.goodsCard {

		.bgGradientBlack {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, #252525, transparent);
			height: 150px;
		}

		.description-wrapper {

			p {

				img {
					//margin-top: 8px;
				}
			}
		}
	}

	// FeedBackForm
	.feedBackForm {

		.feedBackInputWrapper {

			.feedBackInput {
				width: 368px;
			}
		}
	}

	// OurMessengers
	.ourMessengers-wrapper {
		display: flex;
		justify-content: end;
	}

	.ourMessengers {
		width: 324px;
		margin-top: 60px;
		height: fit-content;
	}

	// OfferCard
	.offerCard {

		.description-wrapper {

			.hoveredButton-link {
				margin-bottom: 20px !important;
			}
		}

		.description-down {
			margin-top: 72px;
			flex-direction: row;
			height: auto;
			align-items: end;
		}
	}

	// ReviewCard
	.reviewCard {
		width: 99%;
		margin-right: 12px;
	}

	// MediaCard
	.photoCards {
		grid-template-columns: repeat(3, 1fr);
	}

	.mediaCard-wrapper {
		grid-template-rows: 1fr 1fr;
	}

	// MediaCard
	.mediaCard-wrapper {

		.mediaCard {
			height: 300px;

			img {
				height: 300px;
			}
		}
	}

	// DefaultMediaCard
	.defaultMediaCard-link {

		.defaultMediaCard {
			height: 300px;
		}
	}
}

@media (min-width: $media1200) {
	// TitleTextArrowCard
	.titleTextArrowCard {
		padding: 32px;

		div {
			grid-template-columns: 1fr;
		}
	}

	// OfferCard
	.offerCard {
		width: 99%;

		.description-wrapper {
			padding-top: 44px;
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	// MediaCard
	.mediaCards {
		grid-template-columns: 1fr 1fr;
	}

	.mediaCard-wrapper {
		grid-template-rows: 1fr 1fr;
	}

	// DefaultMediaCard
	.defaultMediaCard-link {

		.defaultMediaCard {

			div {

				img {
					margin-bottom: 4px;
				}
			}
		}
	}

	// RequestCall
	.requestCall-wrapper {
		padding: 12px 0 12px;
		background: $colorWhite;
	}

	.requestCall {
		height: 100%;
		padding: 60px;

		.requestCallForm {
			width: 100%;
			height: inherit;

			.requestCallInputWrapper {
				margin-bottom: 0;

				.requestCallInput {
					background: transparent;
					border: none;
					border-bottom: 1px solid $colorDarkWhite;
					width: 100%;
					resize: none;
					padding: 20px 12px;
					border-radius: 0;
					color: $colorWhite;
					overflow: hidden;

					&::placeholder {
						color: $colorWhite;
						opacity: .6;
						font-size: 14px;
						font-family: $fontManrope500;
						line-height: 20px;
					}
				}
			}
		}
	}

	// MediaCard
	.mediaCard-wrapper {

		.mediaCard {
			height: 190px;

			img {
				height: 190px;
			}
		}
	}

	// DefaultMediaCard
	.defaultMediaCard-link {

		.defaultMediaCard {
			height: 190px;
		}
	}
}

@media (min-width: $media1440) {
	// GoodsCard
	.goodsCard {
		overflow: hidden;

		&-image {
			transition: all 5s;

			&:hover {
				scale: 1.15;
			}
		}
	}

	// OurMessengers
	.ourMessengers-wrapper {

	}

	// OfferCard
	.offerCard {
		height: 445px;

		a {
			display: block;
			height: 100%;
		}

		.offerCard-wrapper {
			height: 100%;
		}

		&-img {
			max-width: 100% !important;
			width: 532px !important;
		}

		.description-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.description-down {
				margin-top: 0;
			}

			h2, article {
				margin-top: -130px;
			}

			a {
				display: flex;
				align-items: flex-end;
			}
		}
	}

	// ReviewCard
	.reviewCard {
		padding: 40px 28px;
		//margin-top: 20px;
		//height: fit-content;
		min-height: 360px;

		&-top {

			img {
				width: 88px;
				height: 88px;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}

		.divider {
			margin: 28px 0;
		}
	}
}
