@font-face {
	font-family: "Manrope-Bold";
	src: url("../fonts/Manrope/Manrope-Bold.ttf");
	//font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope-SemiBold";
	src: url("../fonts/Manrope/Manrope-SemiBold.ttf");
	//font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope-Medium";
	src: url("../fonts/Manrope/Manrope-Medium.ttf");
	//font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope-Light";
	src: url("../fonts/Manrope/Manrope-Light.ttf");
	//font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TTTsarsA-Light";
	src: url("../fonts/TTTsarsA/TTTsarsA-Light.ttf");
	//font-weight: 300;
	font-style: normal;
	font-display: swap;
}



