@import "variables";

@media (min-width: $media0) {
	// TopBlock
	.topBlock {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			p {
				text-align: center;
			}
		}
	}

	.videoWrapper {
		position: relative;
		overflow: hidden;

		.bgVideo {
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	.mainText {
		position: absolute;
	}

	// AllServices
	.allServices {
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;

		.allServices-bg {
			display: none;
		}

		.leavesVideo {
			display: none;
		}
	}

	// BestProjects
	.bestProjects {

		&-inner {
			padding-top: 250px;
		}

		&-tabs {
			margin-top: 28px;
		}

		&-tabList {
			margin-bottom: 0;
			padding: 0;

			li {
				color: rgba(255, 255, 255, .5);
				border: none;
				background: transparent !important;
				border-radius: 0;
			}

			.react-tabs__tab--selected {
				color: $colorWhite;
				border-bottom: 1px solid $colorWhite;
			}

			.react-tabs__tab:focus:after {
				background: transparent !important;
			}
		}
	}

	// FeedBackBlock
	.feedBackBlock {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: revert;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: -2;
		overflow: hidden;

		.element-animation {
			margin: 2rem 0;
			font-size: 3rem;
			opacity: 0;
			transform: scale(3);
		}

		.element-animation.element-show {
			opacity: 1;
			transition: all 2.2s;
			transform: scale(1);
		}

		.flowerRight {
			width: 100%;
			height: inherit;
			position: absolute;
			top: 20px;
			right: -280px;
			z-index: -1;
		}

		h2, h6 {
			width: 240px;
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {

		ul {
			padding: 12px 0 40px;
			margin: 0;

			div {
				display: flex;
				justify-content: space-between;
				margin-top: 12px;

				img {
					margin-right: 8px;
				}
			}
		}

		.weBuildDownBlock {

			.fiveStepsSlider-wrapper {
				padding-top: 60px;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;

				.stepsWrapper {
					display: flex;
					overflow: hidden;
					overflow-x: scroll;
					padding: 28px 28px 28px 8px;

					&::-webkit-scrollbar {
						width: 0;
					}

					.step {
						position: relative;
						min-width: 270px;

						h6 {
							color: $colorWhite;
							opacity: .7;
						}

						.stepLine {
							border-bottom: 1px solid $colorWhite;
							position: absolute;
							top: 110px;
							left: 10px;
							width: 100%;
						}

						p {
							width: 240px;
						}

						.lastImage {
							position: absolute;
							top: 95px;
							right: -20px;
						}
					}
				}
			}
		}
	}

	// JoinTheClub
	.joinTheClub {
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;

		.leavesLeft {
			position: absolute;
			bottom: -23px;
			left: -170px;
			scale: 1.2;
			z-index: 1;
		}

		.leavesRight {
			position: absolute;
			bottom: 27px;
			right: -260px;
			scale: 1.2;
			z-index: 1;
		}

		div {
			position: relative;
			z-index: 2;

			h2 {
				width: 300px;
				font-size: 30px;
			}

			p {
				margin: 12px 0 16px;
				line-height: 24px;
				width: 280px;
			}
		}
	}

	// WeCare
	.weCare {
		position: relative;

		img {
			width: 100%;
			object-fit: cover;
		}

		.bgGradientBlack {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, #252525, transparent);
			height: 260px;
		}

		.textWrapper {
			position: absolute;
			left: 16px;
			bottom: 16px;

			p {
				padding-top: 12px;
			}
		}
	}

	// ShareContent
	.shareContent {
		position: relative;
		background: $colorLightGrey;

		.bgOpacity {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 188px;
			background-size: cover;
			background-repeat: no-repeat;
		}

		h2 {
			margin-bottom: 20px;
		}
	}

	// Footer
	footer {
		position: relative;
		background: $colorLightGrey;
		padding: 40px 16px 16px;

		.contactsBlock {
			background: $colorWhite;
			width: 100%;
			padding: 60px 12px;

			.logotype {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 60px;

				img {
					width: 24px;
					height: 24px;
					margin-bottom: 4px;
					margin-right: 8px;
				}

				h2 {
					margin: 0;
				}
			}

			.contacts-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;

				.contact-mail {
					font-size: 20px;

					&:hover {
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-color: #2AA5A0;
						background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
					}
				}

				.contact {
					display: flex;
					flex-direction: column;
					align-items: center;

					a {

						&:hover {
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							background-color: #2AA5A0;
							background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
						}
					}
				}
			}

			.socials {
				margin-top: 50px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					margin: 0 10px;
				}
			}

			.privacyPolicy-wrapper {
				display: flex;
				justify-content: center;

				.privacyPolicy {
					margin-top: 30px;
					text-decoration: underline $colorText;
					text-align: center;
				}
			}

			.divider {
				border-bottom: 1px solid $colorLightGrey;
				margin: 28px 0;
				width: 100%;
			}

			.copyRights {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				margin-top: 28px;
				margin-bottom: 0;

				img {
					margin-bottom: 7px;
				}
			}
		}
	}
}

@media (min-width: $media475) {
	// FeedBackBlock
	.feedBackBlock {

		.element-animation {
			transform: scale(2);
		}
	}
}

@media (min-width: $media576) {
	// BestProjects
	.bestProjects {

		.react-tabs__tab-panel--selected {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.flowerRight {
			right: -340px;
			width: 90%;
		}

		.element-animation {
			transform: scale(1.3);
		}
	}
}

@media (min-width: $media768) {
	// AllServices
	.allServices {

		.cardsWrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 8px;
			position: relative;
			z-index: 4;

			.titleTextArrowCard {
				height: 170px;
				margin: 0;
			}
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.flowerRight {
			width: 70%;
		}

		.element-animation {
			transform: scale(1.1);
		}
	}
}

@media (min-width: $media1023) {
	// BestProjects
	.bestProjects {

		&-tabList {
			display: flex;
			justify-content: end;
		}

		h2 {
			max-width: 70%;
		}

		&-tabs {
			margin-top: -56px;
		}

		.react-tabs__tab-panel--selected {
			margin-top: 40px;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		&-content {
			display: grid;
			grid-template-columns: 60% 1fr;
			padding-bottom: 60px;
			justify-content: space-between;
		}

		.flowerRight {
			width: 50%;
			right: -230px;
			top: -100px;
		}

		h2, h6 {
			width: 100%;
		}

		.element-animation {
			transform: scale(1.1);
		}
	}
}

@media (min-width: $media1200) {
	// AllServices
	.allServices {
		position: relative;
		padding-top: 60px;

		.allServices-bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 170%;
		}

		.leavesVideo {
			display: block;
			position: absolute;
			top: 246px;
			left: -100px;
			z-index: 3;
		}
	}

	.services {
		display: grid;
		grid-template-columns: 38% 58%;
		justify-content: space-between;
		position: relative;
		z-index: 4;

		.cardsWrapper {

			.titleTextArrowCard {
				height: 300px;

				h3 {
					height: 72px;
				}

				div {
					display: flex;
					flex-direction: column;
					height: 170px;
				}
			}
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.flowerRight {
			width: 40%;
		}
	}
}

@media (min-width: $media1400) {
	// FeedBackBlock
	.feedBackBlock {

		.flowerRight {
			width: 30%;
			right: -160px;
		}
	}
}