@import "variables";

@media (min-width: $media0) {
	// VideoSlider
	.videoSlider {
		position: relative;

		.sliderNext {
			position: absolute;
			bottom: 32px;
			right: 20px;
		}

		.sliderPrev {
			position: absolute;
			bottom: 32px;
			right: 60px;
			z-index: 1;
		}

		.slick-track {
			height: 700px;
		}

		.slick-slider {
			position: relative;
			display: block;
			width: 100%;
		}

		.slick-arrow {
			position: absolute;
			z-index: 3;
		}

		.slick-arrow {
			position: absolute;
			bottom: 20px;
			right: 16px;
			width: 0;
			height: 0;
			padding: 0;
			text-indent: -9999px;
			background: transparent;
			border: none;
		}

		.slick-arrow:after {
			content: "";
			position: absolute;
			bottom: 20px;
			z-index: 2;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}

		// next
		.slick-arrow.slick-next {
			z-index: 3;
		}

		.slick-next:after {
			content: "";
			position: absolute;
			bottom: -297px;
			right: 0;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(45deg);
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-next:before {
			content: "";
			position: absolute;
			bottom: -292px;
			right: -1px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::before {
			background: $colorDarkWhite;
		}

		// prev
		.slick-arrow.slick-prev {
			z-index: 3;
		}

		.slick-prev:after {
			content: "";
			position: absolute;
			bottom: -297px;
			right: -300px;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(-135deg);
			display: inline-block;
			transition: .3s;
			z-index: 6;
		}

		.slick-prev:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-prev:before {
			content: "";
			position: absolute;
			bottom: -292px;
			right: -303px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-prev:hover::before {
			background: $colorDarkWhite;
		}
	}

	// OffersSlider
	.offersSlider {
		position: relative;

		.slick-track {
			height: 700px;
		}

		.slick-slider {
			position: relative;
			display: block;
			width: 100%;
		}

		.slick-arrow {
			position: absolute;
			z-index: 3;

		}

		.slick-arrow {
			position: absolute;
			bottom: 20px;
			right: 16px;
			width: 40px;
			height: 40px;
			padding: 0;
			text-indent: -9999px;
			background: transparent;
			border: none;
		}

		.slick-arrow:after {
			content: "";
			position: absolute;
			bottom: 20px;
			z-index: 2;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}

		// next
		.slick-arrow.slick-next {
			z-index: 3;
		}

		.slick-next:after {
			content: "";
			position: absolute;
			bottom: -315px;
			right: 130px;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(45deg);
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-next:before {
			content: "";
			position: absolute;
			bottom: -310px;
			right: 130px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::before {
			background: $colorDarkWhite;
		}

		// prev
		.slick-arrow.slick-prev {
			z-index: 3;
		}

		.slick-prev:after {
			content: "";
			position: absolute;
			bottom: -315px;
			right: -140px;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(-135deg);
			display: inline-block;
			transition: .3s;
			z-index: 6;
		}

		.slick-prev:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-prev:before {
			content: "";
			position: absolute;
			bottom: -310px;
			right: -145px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-prev:hover::before {
			background: $colorDarkWhite;
		}
	}

	// WeAreTrustedSlider
	.weAreTrustedSlider {
		position: relative;
		padding-bottom: 100px;

		.slick-track {
			height: fit-content;
		}

		.slick-slider {
			position: relative;
			display: block;
			width: 100%;
		}

		.slick-arrow {
			position: absolute;
			z-index: 3;

		}

		.slick-arrow {
			position: absolute;
			bottom: 20px;
			right: 16px;
			width: 40px;
			height: 40px;
			padding: 0;
			text-indent: -9999px;
			background: transparent;
			border: none;
		}

		.slick-arrow:after {
			content: "";
			position: absolute;
			bottom: 20px;
			z-index: 2;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}

		// next
		.slick-arrow.slick-next {
			z-index: 3;
		}

		.slick-next:after {
			content: "";
			position: absolute;
			bottom: -145px;
			right: 130px;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(45deg);
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-next:before {
			content: "";
			position: absolute;
			bottom: -140px;
			right: 130px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-next:hover::before {
			background: $colorDarkWhite;
		}

		// prev
		.slick-arrow.slick-prev {
			z-index: 3;
		}

		.slick-prev:after {
			content: "";
			position: absolute;
			bottom: -145px;
			right: -140px;
			width: 12px;
			height: 12px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 3px;
			border-top: 2px solid $colorWhite;
			border-right: 2px solid $colorWhite;
			transform: rotate(-135deg);
			display: inline-block;
			transition: .3s;
			z-index: 6;
		}

		.slick-prev:hover::after {
			border-top: 2px solid $colorDarkWhite;
			border-right: 2px solid $colorDarkWhite;
		}

		.slick-prev:before {
			content: "";
			position: absolute;
			bottom: -140px;
			right: -145px;
			width: 16px;
			height: 2px;
			background: $colorWhite;
			display: inline-block;
			transition: 1s;
			z-index: 6;
		}

		.slick-prev:hover::before {
			background: $colorDarkWhite;
		}
	}
}

@media (min-width: 576px) {

}

@media (min-width: $media768) {

}

@media (min-width: $media1023) {

}
