@import '../../../styles/variables';

.messengers {
    z-index: 10;
    .messengersContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        backdrop-filter: blur(30px); 
        padding: 20px 25px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-top: 20px;
        }

        ul li {
            display: flex;
            flex-direction: row;
            gap: 0.417vw; //6px
            color: $color-blue;
            backdrop-filter: blur(30px); 
            background: linear-gradient(48deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 100%);
            padding: 12.5px 125px;
            box-shadow: 0px 51px 64px 0px rgba(0, 0, 0, 0.1);
        }
    }
}
