@import '../../../styles/variables';

.videoSlider {
    .videoSliderContainer {
        top: 10vw;
        transform: translateY(-34vw);
        // position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .videoContainer {
            position: relative;
            // transform: translateY(-34vw);

            video {
                width: 93.333vw;
                height: 48.611vw;
            }

            .videoItems {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0.694vw 0.694vw; //10px 10px

                bottom: 1vw;

                .videoProgressBar {
                    width: 1.667vw;
                    height: 1.667vw;
                    // background-color: transparent;
                    border-radius: 50%;
                    position: relative;
                    border: 2px solid white;
                    transition: border 0.3s ease;
                    z-index: 100;

                    .progressOverlay {
                        position: absolute;
                        top: -0.139vw;
                        left: -0.139vw;

                        width: 1.667vw;
                        height: 1.667vw;
                        border-radius: 50%;
                        border: 2px solid red;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        z-index: 101;
                    }
                    span {
                        color: white;
                        opacity: 1;
                        position: absolute;
                        top: 0.2vw;
                        right: 0.139vw;
                    }
                }

                .videoControls {
                    z-index: 100;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.111vw; //16px
                    right: 0;
                }
            }
        }
    }
}

.disabled {
    opacity: 0.4;
}
