@import "variables";

@media (min-width: $media0) {
	.palmsTransparent-bg {
		position: absolute;
		left: -930px;
		top: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
	}

	// TopBlock
	.topBlock {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			p {
				text-align: center;
			}
		}
	}

	.videoWrapper {
		position: relative;
		overflow: hidden;

		.bgVideo {
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	.mainText {
		position: absolute;

		h1 {
			letter-spacing: -2.56px;
		}

		p {
			max-width: 380px;
		}
	}

	// AllServices
	.allServices {
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: relative;

		.allServices-bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 170%;
		}
		.services{
			padding: 0px 3.333vw;
			padding-top: 6vw;
		}
		.leavesAllServicesMobile {
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		.HoverBtn__AllService:hover {
			color: #FFF;
			border: none;
			padding: 10.8px 20.8px;
			background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
			img {
				
				-webkit-filter: brightness(0) invert(1);
				filter: brightness(0) invert(1);
				
			}
		}

		.leavesVideo {
			display: none;
		}
	}

	// BestProjects
	.bestProjects {
		position: relative;
		z-index: 1;

		&-inner {
			padding-top: 70px;
			margin-right: 3.333vw;
			margin-left: 3.333vw;
		}

		&-tabs {
			margin-top: 28px;
		}

		.react-tabs__tab-panel--selected {
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			-webkit-animation: fadeTabPanel 1s linear;
			animation: fadeTabPanel 1s linear;
		}

		@-webkit-keyframes fadeTabPanel {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@keyframes fadeTabPanel {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		&-tabList {
			margin-bottom: 20px;
			padding: 0;

			li {
				color: rgba(255, 255, 255, .5);
				border: none;
				background: transparent !important;
				border-radius: 0;
			}

			.react-tabs__tab--selected {
				color: $colorWhite;
				border-bottom: 1px solid $colorWhite;
			}

			.react-tabs__tab:focus:after {
				background: transparent !important;
			}
		}
	}

	// FeedBackBlock
	.feedBackBlock {
		position: relative;
		overflow: hidden;
		&-content {
			margin-left: 3.333vw;
			margin-right: 3.333vw;
		}
		.feedBackBlock-bg {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -2;
		}

		.element-animation {
			position: absolute;
			top: 30px;
			right: -560px;
			bottom: 0;

			.flowerRight {
				//width: 100%;
				object-fit: contain;
				height: 700px;
				-webkit-animation: show-flower 1s linear;
				animation: show-flower 1s linear;
			}

			@-webkit-keyframes show-flower {
				0% {
					transform: scale(1.2);
				}

				100% {
					transform: scale(1);
				}
			}

			@keyframes show-flower {
				0% {
					transform: scale(1.2);
				}

				100% {
					transform: scale(1);
				}
			}
		}

		h2,
		h6 {
			width: 70%;
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {
		position: relative;
		z-index: 2;
		padding-top: 50px;

		ul {
			padding: 12px 0 40px;
			margin: 0;

			li {
				margin: 4px 0;
			}

			div {
				display: flex;
				margin-top: 12px;

				//img {
				//	margin-right: 8px;
				//}
			}
		}

		.weBuildDownBlock {
			position: relative;
			z-index: 1;

			.fiveStepsSlider-wrapper {
				padding-top: 80px;
				position: relative;
				overflow: hidden;

				.stepsWrapper {
					display: grid;
					overflow: hidden;
					overflow-x: scroll;
					padding: 28px 11px 28px 0;
					position: relative;
					grid-template-columns: repeat(5, 1fr);

					&::-webkit-scrollbar {
						width: 0;
					}

					.stepLine {
						border-bottom: 1px solid $colorWhite;
						position: absolute;
						top: 107px;
						left: 10px;
						width: 100%;
					}

					.step {
						position: relative;
						min-width: 260px;
						width: 100%;

						h6 {
							color: #FFF;
							// mix-blend-mode: soft-light;
							background-image: url(../public/noise-blue.png);
							background-size: 100px;
							background-repeat: repeat;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}

						p {
							width: 200px;
							padding-top: 20px;
							height: 120px;
						}

						.lastImage {
							position: absolute;
							top: 95px;
							right: -14px;
						}
					}
				}
			}
		}
	}

	// JoinTheClub
	.joinTheClub {
		position: relative;
		overflow: hidden;
		margin-left: 3.333vw;
    	margin-right: 3.333vw;
		background: #fff;

		&-bg {
			position: absolute !important;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}

		.leavesLeft {
			position: absolute;
			z-index: 1;
			bottom: -1170px;
			scale: 0.4;
			left: -1160px;
			rotate: 50deg;
			transform: scale(-1, 1);
			max-width: -moz-fit-content !important;
			max-width: fit-content !important;
		}

		.leavesRight {
			position: absolute;
			z-index: 1;
			scale: 0.4;
			bottom: -980px;
			transform: scale(-1, 1);
			right: -759px;
			max-width: -moz-fit-content !important;
			max-width: fit-content !important;
		}

		div {
			position: relative;
			z-index: 2;

			h2 {
				width: 300px;
			}

			p {
				margin: 12px 0 16px;
				line-height: 24px;
				width: 280px;
			}
		}
	}

	// WeCare
	.weCare {
		position: relative;

		img {
			width: 100%;
			object-fit: cover;
		}

		.bgGradientBlack {
			position: absolute;
			left: 3.333vw;
			right: 3.333vw;
			bottom: 0;
			background: linear-gradient(0deg, #252525, transparent);
			height: 260px;
		}

		.textWrapper {
			position: absolute;
			left: 5vw;
			bottom: 16px;

			p {
				padding-top: 12px;
			}
		}
	}

	// ShareContent
	.shareContent {
		position: relative;
		background: $colorLightGrey;
		padding-bottom: 40px;

		.bgOpacity {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 188px;
			background-size: cover;
			background-repeat: no-repeat;
		}

		h2 {
			margin-bottom: 20px;
		}
	}
	.videoBlock{
		margin-right: 3.333vw;
		margin-left: 3.333vw;
	}

	// Footer
	footer {
		position: relative;
		background: $colorWhite;

		.contactsBlock {
			background: $colorWhite;
			width: 100%;
			padding: 60px 12px;

			.linkPages {
				display: none;
			}

			.logotype {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 60px;

				img {
					width: 24px;
					height: 24px;
					margin-bottom: 4px;
					margin-right: 8px;
				}

				h2 {
					margin: 0;
				}
			}

			.contacts-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				z-index: 7;

				.contact-mail {
					font-size: 26px;
					line-height: 36px;

					&:hover {
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-color: #2AA5A0;
						background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
					}
				}

				.contact {
					display: flex;
					flex-direction: column;
					align-items: center;

					a {

						p {
							-webkit-background-clip: text;
							-webkit-text-fill-color: $colorAccent;
							background-color: transparent;
							background-image: $colorAccent;

							&:hover {
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								background-color: #2AA5A0;
								background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
							}
						}
					}
				}
			}

			.socials {
				margin-top: 50px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 7;
				gap: 20px;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 20px;
					gap: 20px;

					img {
						width: 20px;
						height: 20px;
					}
				}
			}

			.privacyPolicy-wrapper {
				display: flex;
				justify-content: center;
				position: relative;
				z-index: 7;

				.privacyPolicy {
					margin-top: 30px;
					//text-decoration: underline $colorText;
					text-decoration: none;
					text-align: center;

					&:hover {
						//-webkit-background-clip: text;
						//-webkit-text-fill-color: transparent;
						//background-color: #2AA5A0;
						//background-image: linear-gradient(135deg, #4072A3, #7EA2BC);
						text-decoration: underline $colorText;
					}
				}
			}

			.divider {
				border-bottom: 1px solid $colorLightGrey;
				margin: 28px 0;
				width: 100%;
			}

			.copyRights {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				margin-top: 28px;
				margin-bottom: 0;

				a {
					position: relative;
					z-index: 7;
				}

				img {
					margin-bottom: 6px;
				}
			}
		}

		.requestCall {
			display: none;
		}
	}

	footer {
		display: flex;
		height: fit-content;
		justify-content: center;
	}
}

@media (min-width: $media475) {
	.palmsTransparent-bg {
		position: absolute;
		left: -730px;
	}

	.mainText {

		h1 {
			font-size: 76px;
			line-height: 84px;
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.element-animation {
			right: -600px;
		}

		.fiveStepsSlider-wrapper {

			h3 {
				padding-top: 28px;
			}
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {

		.weBuildDownBlock {

			.fiveStepsSlider-wrapper {
				padding-top: 120px;
			}
		}
	}
}

@media (min-width: $media576) {
	.palmsTransparent-bg {
		position: absolute;
		left: -560px;
	}

	.mainText {

		h1 {
			font-size: 86px;
			line-height: 94px;
		}
	}

	// BestProjects
	.bestProjects {

		.react-tabs__tab-panel--selected {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.element-animation {
			right: -700px;
		}
	}
}

@media (min-width: $media768) {
	.palmsTransparent-bg {
		position: absolute;
		left: 0;
	}

	.mainText {

		h1 {
			font-size: 100px;
			line-height: 108px;
		}
	}

	// AllServices
	.allServices {

		.cardsWrapper {
			margin-top: 40px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 16px;
			position: relative;
			z-index: 4;

			.titleTextArrowCard {
				height: 170px;
				margin: 0;
			}
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {

		ul {
			padding: 0 0 20px;
		}

		.weBuildDownBlock {

			.fiveStepsSlider-wrapper {
				padding-top: 8.333vw;
			}
		}
	}

	// JoinTheClub
	.joinTheClub {

		.leavesLeft {
			left: -1100px;
		}

		.leavesRight {
			right: -710px;
		}
	}

	// WeCare
	.weCare {

		.textWrapper {
			width: 50%;
		}
	}
}

@media (min-width: $media930) {
	.leavesAllServicesMobile {
		display: none;
	}
}

@media (min-width: $media1023) {
	.mainText {

		h1 {
			font-size: 140px;
			line-height: 150px;
			letter-spacing: -4px;
		}
	}

	// BestProjects
	.bestProjects {
		margin-top: -250px;

		&-inner {
			padding-top: 360px;
		}

		&-tabList {
			display: flex;
			justify-content: end;
		}

		h2 {
			max-width: 80%;
		}

		&-tabs {
			margin-top: -56px;
		}

		.react-tabs__tab-panel--selected {
			margin-top: 40px;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		&-content {
			display: grid;
			grid-template-columns: 55% 1fr;
			margin-left: 117px;
			padding-bottom: 60px;
			justify-content: space-between;
		}

		h2,
		h6 {
			width: 100%;
		}

		.element-animation {
			top: 0;
			right: -670px;
		}
	}

	// JoinTheClub
	.joinTheClub {
		padding: 53px 0;

		.leavesLeft {
			bottom: -860px;
		}

		.leavesRight {
			right: -660px;
		}

		div {

			h2 {
				width: 70%;
				line-height: 44px;
			}

			p {
				width: 70%;
			}
		}
	}

	// WeCare
	.weCare {

		.textWrapper {

			h3 {
				font-size: 36px;
				line-height: 42px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	// Footer
	footer {

		.contactsBlock {

			.logotype {

				img {
					width: 38px;
					height: 38px;
				}
			}
		}
	}
}

@media (min-width: $media1200) {
	.mainText {

		h1 {
			font-size: 170px;
			line-height: 180px;
			letter-spacing: -6px;
		}
	}

	// AllServices
	.allServices {
		position: relative;

		.allServices-bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 170%;
		}

		.leavesVideo {
			display: block;
			position: absolute;
			top: -305px;
			left: -934px;
			z-index: 0;
			scale: 0.5;
			max-width: inherit !important;
		}
	}

	.services {
		display: grid;
		grid-template-columns: 38% 58%;
		justify-content: space-between;
		position: relative;
		z-index: 4;
		padding: 0px 3.333vw;
    	padding-top: 6vw;

		h2 {
			max-width: 500px;
		}

		.cardsWrapper {

			.titleTextArrowCard {
				height: 300px;

				h3 {}

				div {
					display: flex;
					flex-direction: column;

					button {
						right: inherit;
						left: 32px;
					}
				}
			}
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {}

	.weBuildDownBlock {

		.slick-track {
			display: flex;
			justify-content: end;
		}
	}

	// JoinTheClub
	.joinTheClub {
		div {

			h2 {
				width: 60%;
			}

			p {
				width: 60%;
			}
		}
	}

	// WeCare
	.weCare {

		.bgGradient {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 50%;
		}

		.bgLightGrey {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 50%;
		}
	}

	// Footer
	footer {
		position: relative;

		.footer-bg {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -2;
		}

		.footer {
			display: grid;
			width: 100%;
			grid-template-columns: 70% 30%;
			margin-right: 0;
			margin-left: 3.333vw;
		}

		.requestCall {
			display: block;
		}

		.contactsBlock {
			padding: 60px 20px 20px 0;
			position: relative;

			.linkPages {
				display: grid;
				grid-template-columns: 1fr;
				position: absolute;
				top: 160px;
				right: 10%;
				z-index: 7;

				a {
					text-decoration: none;
					line-height: 30px;
					cursor: pointer;

					p {
						border-bottom: 1px solid transparent;
						width: fit-content;
					}

					&:hover p {
						border-bottom: 1px solid $colorText;
					}
				}
			}

			.logotype {
				justify-content: start;
			}

			.contacts-wrapper {
				align-items: flex-start;

				.contact {
					align-items: start;
					margin-right: 28px;
				}
			}

			.socials {
				justify-content: start;

				a {
					justify-content: start;
				}
			}

			.privacyPolicy-wrapper {
				justify-content: start;
			}

			.divider {
				margin: 28px 0 0 0;
			}
		}
	}
}

@media (min-width: $media1400) {
	.mainText {

		h1 {
			font-size: 13.889vw;
			line-height: 15.278vw;
			letter-spacing: -0.04em;
		}
		p{
			font-family: "Manrope-SemiBold";
    		font-size: 1.25vw;
   			font-weight: 600;
    		line-height: 2.083vw;
    		letter-spacing: 0em;
		}
	}

	// JoinTheClub
	.joinTheClub {
		margin-top: 8vw;

		div {

			h2 {
				line-height: 62px;
			}
		}
	}
}

@media (min-width: $media1440) {
	.palmsTransparent-bg {
		//left: 600px;
		scale: 1.26;
	}

	// BestProjects
	.bestProjects {
		margin-top: -310px;

		&-inner {
			margin-top: 50px;

			margin-right: 3.333vw;
			margin-left: 3.333vw;
			.bestProjects-tabs {
				position: relative;
				z-index: 7;

				ul {
					position: absolute;
					top: -100px;
					right: 0;
				}
			}
		}

		.react-tabs__tab-panel--selected {
			margin-top: 100px;
		}
	}

	// FeedBackBlock
	.feedBackBlock {

		.element-animation {
			scale: 1.5;
			right: -470px;
			top: -10px;
		}
	}

	// WeBuildOurselves
	.weBuildOurselves {

		ul {
			padding: 20px 0 40px;

			img {
				margin-top: 8px;
			}

			li {
				margin: 8px 0;
			}
		}

		.weBuildDownBlock {

			.fiveStepsSlider-wrapper {

				.stepsWrapper {
					height: 381px;

					.steps {
						display: grid;
						overflow: hidden;
						padding: 28px 11px 28px 0;
						position: relative;
						grid-template-columns: repeat(5, 1fr);
					}

					.stepLine {
						top: 107px;
						//animation: stream 1s linear;
						width: 100%;
					}

					.step {

						p {
							width: 240px;
						}
					}

					.numbers {
						display: flex;
						justify-content: space-between;

						h6 {

							color: #FFF;
							mix-blend-mode: soft-light;
							background-image: url(../public/noise-blue.png);
							background-size: 100px;
							background-repeat: repeat;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;


							//-webkit-animation: fadeNumbers 2s forwards linear;
							//animation: fadeNumbers 2s forwards linear;
						}

						@-webkit-keyframes fadeNumbers {
							0% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}
						}

						@keyframes fadeNumbers {
							0% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}
						}
					}

					.stepLine {
						top: 11px;
					}

					.step {

						.lastImage {
							top: 0;
						}
					}
				}
			}
		}
	}

	// JoinTheClub
	.joinTheClub {

		.leavesLeft {
			bottom: -860px;
			scale: 0.4;
			left: -1050px;
			rotate: 30deg;
			transform: scale(-1, 1);
			max-width: fit-content !important;
		}

		.leavesRight {
			scale: 0.4;
			bottom: -970px;
			right: -549px;
		}
	}

	// WeCare
	.weCare {

		.textWrapper {
			left: 5vw;
			bottom: 50px;

			h3 {
				max-width: 630px;
				font-size: 48px !important;
				line-height: 62px !important;
				letter-spacing: -1.44px !important;
				margin: 0 !important;
			}

			p {
				font-size: 14px;
				line-height: 24px;
				letter-spacing: .14px;
			}
		}
	}

	// ShareContent
	.shareContent {
		padding-bottom: 80px;

		h2 {
			margin-bottom: 40px;
			max-width: 860px;
		}
	}

	// Footer
	footer {

		.contactsBlock {

			.linkPages {
				grid-template-columns: 1fr 1fr;
				top: 180px;
				right: 40px;
				column-gap: 103px;

				a {
					width: 193px;
				}
			}

			.contacts-wrapper {

				.contact {

					a {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
	}
}