@import "variables";

.linkBtn {
	background: #1976D2;
	color: #fff;
	border-radius: 6px;
	border-color: transparent;
	padding: 0 6px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	letter-spacing: .3px;
	text-transform: uppercase;
	transition: .2s all;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	&:hover {
		background-color: #1565C0;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	}
}
