@import '../../styles/variables';

.buttonBorderBlack {
    //styleName: p2;
    font-family: 'Manrope-Bold';
    font-size: 0.972vw;
    font-weight: 700;
    line-height: 1.389vw;
    letter-spacing: -0.01em;
    text-align: left;

    padding: 13px 20px;
    border-radius: 30px;
    border: 2px solid $color-blue;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $color-blue;
        color: $color-white;
    }

    @media (max-width: 1024px) {
        font-size: 3.733vw;
    }

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}


